body {
    background-color: #2F3336;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.navbar {
    overflow: visible;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: #C0D06F;
}

.container{
    max-width: 1300px;
}

.navbar {
    min-height: 58px;
}

.bg-header-bar {
    background-color: #3a54c2 !important;
}

.formedit{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.buttonleft{
    float: left;
    width: 50%;
    text-align: left;
}

.buttonright{
    float: left;
    width: 50%;
    text-align: right;
}

.error{
    text-align: center;
    color: darkorange;
    font-size: 16px;
}