<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<h1 th:text="#{page.main.title}">Main Page</h1>

<div class="langdiv">
    <form method="get" action="?">
        <div class="form-group">
            <label for="language" th:text="#{language.choose}">Choose Language</label>
            <select class="form-control" id="language" name="lang">
                <option value="en_EN" th:selected="${'en_EN' == ${#locale}}">ANGIELSKI</option>
                <option value="pl_PL" th:selected="${'pl_PL' == ${#locale}}">POLSKI</option>
                <option value="de_DE" th:selected="${'de_DE' == ${#locale}}">NIEMIECKI</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-outline-primary" value="Wybierz język">
        </div>
    </form>
</div>
</body>
</html>