<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.main}">Main Page</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="../assets/css/main.css" th:href="@{/assets/css/main.css}" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments::header"></div>

<div class="formedit" style="width: 400px">
    <form method="post" action="/login">
        <div class="form-group">
            <label for="email" th:text="#{form.email}">Login (email):</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="email:" th:placeholder="#{placeholder.email}" autofocus = "autofocus">
        </div>
        <div class="form-group">
            <label for="password" th:text="#{form.password}">Password:</label>
            <input type="password" class="form-control" id="password" name="password" th:placeholder="#{form.password}"placeholder="hasło:">
        </div>
        <div class="buttons">
            <div class="buttonleft">
                <button type="submit" class="btn btn-success" th:text="#{link.login}">Log in</button>
            </div>
            <div class="buttonright">
                <button type="button" class="btn btn-primary"
                        onclick="window.location.href='/index'" th:text="#{button.cancel}">Cancel
                </button>
            </div>
        </div>
        <div class="clear"></div>
    </form>
    <div class = "error" th:if="${#httpServletRequest.getParameter('error') == 'true'}" th:with="errorMsg=#{error.logging}">
        <p class="errorMsg"><span th:text="${errorMsg}"></span></p>
    </div>
</div>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.14.6/dist/umd/popper.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>