<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{page.main}">Main Page</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="../assets/css/main.css" th:href="@{/assets/css/main.css}" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments::header"></div>

<div class="formedit" style="width: 400px">
    <form method="post" th:action="@{/register}" th:object="${newUser}">
        <div class="form-group">
            <label for="name" th:text="#{form.firstName}">First Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{user.firstName}" placeholder="first name:" th:placeholder="#{form.firstName}" autofocus = "autofocus">
            <span class="error" th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}"></span>
        </div>
        <div class="form-group">
            <label for="lastName" th:text="#{form.lastName}">Last Name:</label>
            <input type="text" class="form-control" id="lastName" th:field="*{user.lastName}" placeholder="last name:" th:placeholder="#{form.lastName}">
            <span class="error" th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}"></span>
        </div>
        <div class="form-group">
            <label for="login" th:text="#{placeholder.email}">email:</label>
            <input type="text" class="form-control" id="login" th:field="*{user.email}" placeholder="email:" th:placeholder="#{form.email}">
            <span class="error" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}"></span>
        </div>
        <div class="form-group">
            <label for="country" th:text="#{form.country}">city:</label>
            <input type="text" class="form-control" id="country" th:field="*{country}" placeholder="country:" th:placeholder="#{form.country}">
            <span class="error" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
        </div>
        <div class="form-group">
            <label for="city" th:text="#{form.city}">city:</label>
            <input type="text" class="form-control" id="city" th:field="*{city}" placeholder="city:" th:placeholder="#{form.city}">
            <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
        </div>
        <div class="form-group">
            <label for="streetAndPropertyNumber" th:text="#{form.street}">city:</label>
            <input type="text" class="form-control" id="streetAndPropertyNumber" th:field="*{streetAndPropertyNumber}" placeholder="street and property number:" th:placeholder="#{form.street}">
            <span class="error" th:if="${#fields.hasErrors('streetAndPropertyNumber')}" th:errors="*{streetAndPropertyNumber}"></span>
        </div>
        <div class="form-group">
            <label for="incomingMessagesPreferences" th:text="#{form.incomingMessagesPreferences}">city:</label>
            <select class="form-control" id="incomingMessagesPreferences" th:field="*{user.incomingMessagesPreferences}">
                <option th:text="#{form.enum.email}" value="EMAIL" selected="selected">E-mail</option>
                <option th:text="#{form.enum.postMail}" value="POST_MAIL">Post mail</option>
            </select>
            <span class="error" th:if="${#fields.hasErrors('user.incomingMessagesPreferences')}" th:errors="*{user.incomingMessagesPreferences}"></span>
        </div>
        <div class="form-group">
            <label for="zipCode" th:text="#{form.zipCode}">city:</label>
            <input type="text" class="form-control" id="zipCode" th:field="*{zipCode}" placeholder="ZIP Code:" th:placeholder="#{form.zipCode}">
            <span class="error" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></span>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{form.password}">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{user.password}"  autocomplete="off" placeholder="password:" th:placeholder="#{placeholder.password}">
            <span class="error" th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}"></span>
        </div>
        <div class="buttons">
            <div class="buttonleft">
                <button type="submit" class="btn btn-success" th:text="#{button.register}">Zarejestruj</button>
            </div>
            <div class="buttonright">
                <button type="button" class="btn btn-primary"
                        onclick="window.location.href='/index'" th:text="#{button.cancel}">Zrezygnuj
                </button>
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>
<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="webjars/popper.js/1.14.6/dist/umd/popper.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>